<%= scope(:popover_default_content, name: :display_compatibility, label: "Display Compatibility").render do %>
  <p>Allows you to tweak display behavior. Can be used in conjunction with your <em>Display Profile</em>.</p>

  <ul>
    <li>
      <strong>True</strong>:
      Disables fast refresh, resolves display flickering, and buzzing sound caused by some ePaper chips.
    </li>

    <li>
      <strong>False</strong>:
      Enables fast refreshes.
    </li>
  </ul>
<% end %>
